@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,200&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');



:root{
    --primary-color:#ef4444;
--dark-orange:#765c2a;
--off-white:#f87171;
color:#520808;
}
body{
    font-family:'Poppins', 
    sans-serif ;
    margin: 0px;
}

hr{
    margin: 3rem 0rem;
}

/* container */
.container{
   padding:0rem  1rem
}


.container-center{
max-width: 600px;
margin:auto;
}


/* links */
.link{

    box-sizing: border-box;
    text-decoration:none ;

    padding: 0.5rem 1rem;
}

.link-primary{
    
background-color: var(--primary-color);
border-radius: 0.5rem;
color: white;

}

 .link-secondary{
color:#520808;
border: 1px solid var(--primary-color);
border-radius: 0.5rem;
}
/* look into bem naming  */

/* lists */

.list-non-bullet  {

    
    list-style: none;
}

.list-item-inline {

    display: inline;
    padding: 0rem 0.5rem; 
}


/* nav */

.navigation{
    background-color: var(--primary-color);
    color: white;
    padding: 1rem;
    border-bottom-left-radius: 1rem;
}

.navigation .nav-pills{
    text-align: right;
}

.navigation .link{
 color: white; 
 text-align: right;  
}
.navigation .nav-brand{
    font-weight: 700;
    font-size: 1.1rem;
}

.navigation .link-active{


    font-weight: bold;
}




/* header */


.hero{
padding: 2rem;

padding-top: 5rem;

}


.hero .hero-img{
display: block;
    margin: auto;

    max-width: 350px;
}


.hero .hero-heading{
padding-top: 1rem;
text-align: center;
    color: var(--dark-orange);
}


.hero .heading-inverted {
color: var(--primary-color);

}

/* section */
.section
{
    padding: 1rem;
}
.section h1{
text-align: center;
padding: 1rem;
}


.ow{

    background-color: var(--off-white);
}

/* footers */



.footer{
background-color: var(--primary-color);
padding:2rem 1rem;
text-align: center;
color: white;
border-top-right-radius:0.5rem;

}

.footer .link{
color: white;


}

.footer ul{
padding-inline-start:0px;

}



